<p id="notice"><%= notice %></p>
<div class="container">
<h1>Viet's Blog</h1>
<h3>My First Rails Application For CoderSchool</h3>

<%= render @articles %>

<br>

<%= link_to 'New Article', new_article_path %>
</div>

